body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Hide number input buttons in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.product-card {
    text-align: left;
    line-height: 1;
    box-shadow: 0 2px 2px #c9cbce;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}

.product-card-image {
    width: 100%;
    height: 20rem;
    position: relative;
}

.product-card:hover {
  cursor: pointer;
}

.product-card-badge {
  position: absolute;
  top: 20px;
  right: 20px;
}

.product-card-text-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-grow: 4;
    padding: 2%;
}

.product-card-product-price {
    text-transform: uppercase;
    float: right;
}

.product-card-product-pricecontainer {
    font-size: 1.25rem;
    color: #45474c;
    font-weight: bold;
    padding: 2%;
}

.product-card-product-name {
    color: #000;
    padding-right: 5%;
}

.product-page {
    width: 100vw;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-color: white;
}

.product-page-info-container {
    position: relative;
    margin: 5% 10% 0 10%;
    text-align: left;
}

.product-page-description-container {
    color: #45474c;
    font-weight: 300;
}

.product-page-description-container h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: #45474c;
    margin-bottom: 0.5em;
}

.product-page-title {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.25;
}

.product-page-image img {
    width: 100%;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.product-page-price {
    font-size: 1.4em;
    color: #000;
    font-weight: 700;
}

.product-page-button-container {
    margin-top: 2%;
    width: 100%;
}

.product-page-button {
    width: 100%;
}

.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: crimson;
}

.product-page-contact-information {
    font-size: 1rem;
    color: black;
}

.product-page-contact-information span {
    color: #45474c;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.25rem;
}

.product-page-delete-button {
    float: right;
}


.carousel-control-prev-icon { 
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 

}
.carousel-control-next-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");

}
                                                                          
.carousel-indicators .active {
    background-color: #19a5e4;
}

